.page {
    min-height: 100vh;
    background-color: #f8fafc;
    font-family: "Manrope", "Noto Sans", sans-serif;
    display: flex;
    overflow-x: hidden;
  
    flex-direction: column;
  }
    
    
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid #e7edf3;
    background-color: white;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo {
    width: 24px;
    height: 24px;
    background-color: #0e141b;
    border-radius: 50%;
  }
  
  
    
  .logoSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .logo {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
  }
  
  .brand {
    color: #101419;
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .navActions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  
  .link {
    font-size: 0.875rem;
    font-weight: 500;
    color: #101419;
    text-decoration: none !important;
  }
  
  .link:hover{
    color: #ff3131;
  }
  
  .navButton {
    background-color: #adcbea;
    color: #101419;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 0.875rem;
    border: none;
  }
  
  .appName {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0e141b;
  }
  
  .navLinks {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
    color: #0e141b;
    font-weight: 500;
    cursor: pointer;
  }
  
  
  
  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .iconButton {
    background-color: #e7edf3;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
  }
  
  .PageTitle{
    font-size: 2rem; 
    font-weight: bold;
    color: #0e141b;
    padding: 2rem 10rem;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }
  
    .content {
      font-size: 2rem; 
      font-weight: bold;
      color: #0e141b;
      margin-bottom: 1.5rem;
      padding: 2rem 10rem;
    }
    
    
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    
    .actions {
      display: flex;
      gap: 10px;
    }
    
    .actions button {
      background-color: #4f46e5;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.2s ease;
    }
    
    .actions button:hover {
      background-color: #3730a3;
    }
    
    .balance {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
    
    .positive {
      color: #16a34a;
    }
    
    .negative {
      color: #dc2626;
    }
    
    .sectionTitle {
      font-size: 20px;
      height: 48px;
      margin-bottom: 10px;
      font-weight: 600;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
    }
    
    .transactionList {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .transactionCard {
      padding: 12px 16px;
      margin: 5px;
      border-radius: 12px;
      background-color: #f9fafb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .transactionCard.positive {
      border-left: 6px solid #16a34a;
      border-right: 6px solid #16a34a
    }
    
    .transactionCard.negative {
      border-left: 6px solid #dc2626;
      border-right: 6px solid #dc2626;
    }
    
    .description {
      font-size: 16px;
      font-weight: 500;
      flex: 2;
    }
    
    .meta {
      font-size: 14px;
      color: #6b7280;
      flex: 1 1 30%;
    }
    
    .amount {
      font-size: 16px;
      font-weight: bold;
    }
      
    .noData {
      font-size: 16px;
      color: #6b7280;
      text-align: center;
      margin-top: 20px;
    }
    
    .footerButtons {
      display: flex;
      gap: 1rem;
      margin-top: 1.25rem;
    }
    
    .footerButtons button {
      padding: 0.5rem 1.25rem;
      width: 130px;
      font-weight: bold;
      border: none;
      background-color: #0e141b;
      color: white;
      border-radius: 0.75rem;
      cursor: pointer;
    }
    
    .footerButtons button:hover {
      background-color: #001253;
    }
    
    .linkout:hover{
      color: #ff3131;
    }
    
    .linkin:hover{
      color: #01b87b;
    }